@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

main {
  background-color: $background-light;
}
.warehouse-details {
  margin: 0 1rem;
  background-color: $primary-light;
  position: relative;
  top: -3.125rem;
  box-shadow: 0 2px 5px 0 rgba(19, 24, 44, 0.1);
  border-radius: 2px;

  @include tablet {
    margin: 0 2rem;
    top: -5.5625rem;
  }

  @include desktop {
    @include section-max-width;
    margin: 0 auto;
  }
}
