@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.warehouse-form {
  background-color: $primary-light;
  box-shadow: 0 2px 5px 0 rgba(19, 24, 44, 0.1);
  border-radius: 2px;
  @include section-max-width;

  &__fields {
    @include tablet {
      @include section-max-width;
      display: flex;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }

  &__details-section {
    border-bottom: $border-default;

    @include tablet {
      flex-basis: 50%;
      border-right: $border-default;
      border-bottom: none;
    }
  }

  &__contact-section {
    @include tablet {
      flex-basis: 50%;
    }
  }

  &__title {
    @include mobile-h2-subheader;
    margin-bottom: 0.5rem;

    @include tablet {
      margin-bottom: 1rem;
    }
  }
}

.wrapper {
  padding: 1.5rem;

  @include tablet {
    padding: 0 2rem;
  }
}
