@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.warehouse-form {
  @include card-shadow;
  background-color: $primary-light;
  border-radius: $border-radius-small;

  &__fields {
    @include tablet {
      display: flex;
      padding-top: $gap-large;
      padding-bottom: $gap-large;
    }
  }

  &__details-section {
    border-bottom: $border-default;

    @include tablet {
      flex-basis: 50%;
      border-right: $border-default;
      border-bottom: none;
    }
  }

  &__contact-section {
    @include tablet {
      flex-basis: 50%;
    }
  }

  &__title {
    @include mobile-h2-subheader;
    margin-bottom: $gap-x-small;

    @include tablet {
      margin-bottom: $gap-small;
    }
  }
}
