@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.warehouse-detail {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $secondary-light;
    padding: 1.5rem 2.5rem;

    @include tablet {
      padding: 1.5rem 4rem;
    }
  }

  &__title-wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      @include mobile-h1-page-header;
      padding: 0 0.5rem;

      @include tablet {
        @include h1-page-header;
      }
    }
  }

  &__back-button {
    background: url('../../assets/icons/arrow_back-24px.svg') no-repeat center;
    height: 1.5rem;
    width: 1.5rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-size: cover;
    margin-top: 0.2rem;

    @include tablet {
      margin-left: 0;
    }
  }

  &__edit-button {
    background-color: $primary-color;
    border-radius: 50%;
    height: 2.25rem;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;

    @include tablet {
      border-radius: 1.25rem;
      height: 2.375rem;
      width: 5.0625rem;
    }

    span {
      display: none;

      @include tablet {
        display: inline;
        color: $primary-light;
        margin-left: 0.2rem;
        font-weight: 600;
      }
    }
  }

  &__details {
    padding: 1rem 2.5rem;
    border-bottom: 1px solid $secondary-light;

    @include tablet {
      display: flex;
      justify-content: space-between;
      padding: 1.5rem 4rem;
    }

    h4 {
      @include mobile-h4-table-header;
      color: $secondary-dark;
      padding-bottom: 0.3rem;
      font-weight: 600;

      @include tablet {
        @include h4-table-header;
      }
    }

    p {
      @include mobile-p2-body-medium;
      color: $primary-dark;
      font-weight: 400;

      @include tablet {
        @include p2-body-medium;
      }
    }
  }

  &__details-address {
    padding-bottom: 2rem;

    @include tablet {
      width: 35vh;
      padding-bottom: 0;
    }
  }

  &__contact-info {
    display: flex;
    justify-content: space-between;

    @include tablet {
      gap: 2.5rem;
      padding-left: 3rem;
      border-left: 1px solid $secondary-light;
      height: auto;
    }

    @include desktop {
      gap: 6.5rem;
      padding-right: 13rem;
    }
  }
}
