@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.button {
  height: 2.25rem;
  width: 8.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 1.25rem;

  &__text {
    @include h3-labels-links-buttons;
  }

  &--primary {
    background-color: $primary-color;
  }

  &--primary-text {
    color: $background-light;
  }
  &--secondary-text {
    color: $secondary-dark;
  }

  &--secondary {
    border: $border-default;
    background-color: $primary-light;
  }
}
