@use "./variables" as *;
@use "./typography" as *;

// Breakpoints
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

// Mobile Fonts
@mixin mobile-h1-page-header {
  font-size: 1.75rem;
  line-height: 2.25rem;
}

@mixin mobile-h2-subheader {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@mixin mobile-h3-labels-links-buttons {
  font-size: 0.8125rem;
  line-height: 1.25rem;
}

@mixin mobile-h4-table-header {
  font-size: 0.6875rem;
  line-height: 1rem;
}

@mixin mobile-p1-body-large {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@mixin mobile-p2-body-medium {
  font-size: 0.8125rem;
  line-height: 1.25rem;
}

@mixin mobile-p3-body-small {
  font-size: 0.6875rem;
  line-height: 1rem;
}

// Tablet and Desktop Fonts
@mixin h1-page-header {
  font-size: 2rem;
  line-height: 2.5rem;
}

@mixin h2-subheader {
  font-size: 1.5rem;
  line-height: 2rem;
}

@mixin h3-labels-links-buttons {
  font-size: 0.875rem;
  line-height: 1.375rem;
}

@mixin h4-table-header {
  font-size: 0.75rem;
  line-height: 1.125rem;
}

@mixin p1-body-large {
  font-size: 16px;
  line-height: 1.75rem;
}

@mixin p2-body-medium {
  font-size: 0.875rem;
  line-height: 1.375rem;
}

@mixin p3-body-small {
  font-size: 0.75rem;
  line-height: 1.125rem;
}

@mixin card-shadow {
  box-shadow: 0px 2px 5px 0px #13182c1a;
}

//======Padding=========

@mixin section-max-width {
  max-width: 63.75rem;
  margin: 0 auto;
}

@mixin form-position {
  margin-inline: 1rem;
  position: relative;
  top: -3.5625rem;

  @include tablet {
    margin-inline: 2rem;
    top: -5.5625rem;
  }
}

@mixin header-to-top-distance {
  top: -4.0625rem;
}

//===========Buttons==========

@mixin input-style {
  height: 2.25rem;
  border-radius: $border-radius;
  border: $border-default;
  &::placeholder {
    color: $secondary-dark;
  }
  &:focus {
    outline: $border-active;
  }
}

@mixin stock-label-style {
  font-size: 0.6875rem;
  font-weight: 600;
  background-color: rgba(21, 132, 99, 0.07);
  border-radius: $border-radius;
  padding: 0.25rem 0.5rem;
}

@mixin input-label {
  @include h3-labels-links-buttons;
  margin-bottom: 0.25rem;
  margin-top: $gap-small;
  font-weight: 600;
}

@mixin icon-button {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin default-button-styling {
  height: 2.25rem;
  border-radius: $border-default;
  width: 100%;
  cursor: pointer;

  @include tablet {
    height: 2.375rem;
  }
}

//======Links=============

@mixin text-link-style {
  @include mobile-h3-labels-links-buttons;
  text-decoration: none;
  font-weight: 600;
  color: $primary-color;
  &:hover {
    text-decoration: underline;
  }

  @include tablet {
    @include h3-labels-links-buttons;
  }
}

// Inventory List Grid
@mixin inventory-grid($warehouse: false, $with-border: true) {
  padding-left: 2.2rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  display: grid;
  grid-template-columns: minmax(150px, 1.5fr) 1.3fr 1.6fr 1fr 1fr;

  @if $with-border {
    border-bottom: 1px solid $secondary-light;
  }

  @if $warehouse {
    grid-template-columns: minmax(150px, 1.4fr) 1.2fr 1.2fr 1fr 1fr 1fr;
  }
}
