// Breakpoints
$tablet-breakpoint: 48em;
$desktop-breakpoint: 80em;

// Primary Colors
$primary-dark: #13182c;
$primary-color: #2e66e5;
$primary-light: #ffffff;

// Secondary Colors
$secondary-dark: #5c667e;
$secondary-light: #bdc5d5;

// Background Colors
$background-dark: #232940;
$background-light: #f7f8f9;

// Supporting Colors
$success-color: #158463;
$error-color: #c94515;

// Border Colors
$border-default: 1px solid $secondary-light;
$border-active: 1px solid $primary-color;
$border-error: 1px solid $error-color;
