// Breakpoints 
$tablet-breakpoint: 48em;
$desktop-breakpoint: 80em;

// Primary Colors
$primary-dark: #13182C;
$primary-color: #2E66E5;
$primary-light: #FFFFFF;

// Secondary Colors
$secondary-dark: #5C667E;
$secondary-light: #BDC5D5;

// Background Colors
$background-dark: #232940;
$background-light: #F7F8F9;

// Supporting Colors
$success-color: #158463;
$error-color: #C94515;