@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.inventory-list {
  margin: 2rem 1rem;
  position: relative;
  top: -100px;
  background-color: white;
  padding-top: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(44, 25, 19, 0.1);
  border-radius: 3px;

  @include tablet {
    margin: 0 2rem;
    top: -100px;
  }

  @include desktop {
    margin: 0 8.125rem;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1px solid $secondary-light;
    padding: 1.5rem;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }

    @include desktop {
      padding: 2rem 2.5rem 1.5rem 2.5rem;
    }
  }

  &__title {
    @include mobile-h1-page-header;
  }

  &__search {
    position: relative;
    border-radius: 1.25rem;
    border: 1px solid $secondary-light;
    height: 2.25rem;
    margin: 1rem auto;
    width: 100%;

    @include tablet {
      width: 11.5625rem;
      height: 2.375rem;
      margin: 0 0.5rem;
    }

    @include desktop {
      width: 17.125rem;
      margin: 0 0.5rem;
    }

    &::placeholder {
      color: $secondary-dark;
      padding: 0.5rem 1rem;
      @include mobile-h3-labels-links-buttons;
    }
  }

  &__search-icon {
    position: absolute;
    right: 38px;
    top: 98px;

    @include tablet {
      right: 230px;
      top: 47px;
    }

    @include desktop {
      right: 245px;
      top: 55px;
    }
  }

  &__button {
    border-radius: 1.25rem;
    color: $primary-light;
    background-color: $primary-color;
    border: none;
    height: 2.25rem;
    margin-bottom: 1rem;
    cursor: pointer;
    width: 100%;

    @include tablet {
      width: 10.5rem;
      height: 2.375rem;
      padding: 0;
      margin: 0 0.5rem;
      @include h3-labels-links-buttons;
    }
  }

  &__table-headers {
    color: $secondary-dark;
    &--hidden {
      display: none;

      @include tablet {
        display: flex;
        justify-content: space-evenly;
        background-color: $background-light;
        @include h4-table-header;
        height: 2.5rem;
      }
    }
  }

  &__header-column {
    @include tablet {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 2rem;
      weight: 600;
    }

    @include desktop {
      justify-content: center;
    }
  }

  &__sort-icon {
    height: 1rem;
    width: 1rem;
  }

  &__table-row {
    padding: 0.5rem;
    border-bottom: 1px solid $secondary-light;

    @include tablet {
      display: flex;
      flex-direction: row;
    }
  }

  &__information {
    display: flex;

    @include tablet {
      width: 85%;
    }
  }

  &__table-cell {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    @include tablet {
      width: 50%;
      justify-content: flex-start;
    }
    &--tablet {
      @include tablet {
        flex-direction: row;
      }
    }

    &--bottom {
      display: flex;
      flex-direction: row;
      padding: 0 1.5rem;
      justify-content: space-between;

      @include tablet {
        width: 10%;

        img {
          padding: 0.5rem;
        }
      }
    }

    &--left {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 1rem;

      @include tablet {
        flex-direction: row;
      }
    }

    &--right {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 1rem 2rem 1rem 1rem;

      @include tablet {
        flex-direction: row;
      }
    }
  }

  &__header--mobile {
    color: $secondary-dark;
    @include mobile-h4-table-header;
    padding: 0.25rem 0;

    @include tablet {
      display: none;
    }
  }

  &__link {
    text-decoration: none;
    @include mobile-h3-labels-links-buttons;
    font-weight: 600;
    color: $primary-color;
    display: flex;
  }

  &__chevron {
    height: 1.25rem;
    width: 1.25rem;
  }

  &__item {
    @include mobile-p2-body-medium;
    text-wrap: wrap;
    color: $primary-dark;

    &--status {
      border-radius: 1.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      @include mobile-h4-table-header;
      text-transform: uppercase;
      font-weight: 600;

      @include tablet {}
    }

    &--green {
      height: 1.5rem;
      width: 3.8125rem;
      background-color: rgba(21, 132, 99, 0.07);
      color: $success-color;

      @include tablet {
        height: 1.625rem;
        width: 4.0625rem;
        @include h4-table-header;
      }
    }

    &--red {
      height: 1.5rem;
      width: 5.375rem;
      background-color: rgba(201, 69, 21, 0.07);
      color: $error-color;

      @include tablet {
        height: 1.625rem;
        width: 6rem;
      }
    }
  }

  &__edit-button {
    border: none;
    background: none;
    cursor: pointer;
  }

  &__delete-button {
    border: none;
    background: none;
    cursor: pointer;
  }
}
