@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.search {
  position: relative;
  border-radius: $border-radius;
  border: $border-default;
  height: 2.25rem;
  margin: 1rem auto;
  width: 100%;

  @include tablet {
    width: 11.5625rem;
    height: 2.375rem;
    margin: 0 0.5rem;
  }

  @include desktop {
    width: 17.125rem;
    margin: 0 0.5rem;
  }

  &::placeholder {
    color: $secondary-dark;
    padding: 0.5rem 1rem;
    @include mobile-h3-labels-links-buttons;
  }

  &__icon {
    position: absolute;
    right: 38px;
    top: 91px;

    @include tablet {
      right: 238px;
      top: 40px;
    }

    @include desktop {
      right: 245px;
    }
  }
}
