@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header {
  background-color: $background-dark;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
  }

  &__logo {
    padding: 1.5rem;

    @include tablet {
        padding: 2rem;
    }
  }

  &__nav {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-bottom: 1.5rem;

      @include tablet {
        align-items: center;
        margin-bottom: 0;
      }

    &-link {
      text-decoration: none;
      @include mobile-h3-labels-links-buttons;
      color: $secondary-light;
      padding: .5rem;
      border-radius: 2rem;
      width: 10rem;
      text-align: center;
      cursor: pointer;

      @include tablet {
        @include h3-labels-links-buttons;
        width: 7rem;
      }

      &--active {
        background-color: $primary-dark;
        color: $primary-light;
      }
      &:hover {
        text-decoration: underline;
        color: $primary-light;
      }
    }
  }
}
