@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.warehouse-add {
  background-color: $primary-light;
  margin-inline: 1rem;
  position: relative;
  top: -3.125rem;
}
