@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  @include mobile-p3-body-small;
  color: $secondary-dark;
  background-color: $background-light;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.5rem;
  text-align: center;

  @include tablet {
    @include p3-body-small;
  }
}
