@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.title-nav {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: $border-default;
    padding: 1.5rem 1.5rem;
    background-color: $primary-light;
    border-top-right-radius: $border-radius-small;
    border-top-left-radius: $border-radius-small;
    box-shadow: -5px 0 5px -5px rgba(19, 24, 44, 0.1),
      5px 0 5px -5px rgba(19, 24, 44, 0.1);

    @include tablet {
      padding: 1.5rem 2rem;
      @include section-max-width;
    }
  }

  &__title-wrap {
    @include flex-center;

    h1 {
      @include mobile-h1-page-header;
      padding: 0 0.5rem;

      @include tablet {
        @include h1-page-header;
      }
    }
  }

  &__back-button {
    @include flex-center;
    @include icon-button;
    background: url("../../assets/icons/arrow_back-24px.svg") no-repeat center;
    height: 1.5rem;
    width: 1.5rem;
    padding: 0;
    background-size: cover;
    margin-top: 0.2rem;

    @include tablet {
      margin-left: 0;
    }
  }
}
