@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

body {
  background-color: $background-light;
}
.warehouse {
  margin: 0 1rem;
  position: relative;
  top: -4.0625rem;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(44, 25, 19, 0.1);
  border-radius: 2px;
  overflow: auto;

  @include tablet {
    margin: 0 2rem;
    top: -5.875rem;
  }

  @include desktop {
    margin: 0 8.125rem;
    top: -5.8125rem;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1px solid $secondary-light;
    height: 12.25rem;
    padding: 2rem 1.5rem 1.5rem 1.5rem;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      height: 5.875rem;
      padding: 2rem 2rem 1.5rem 2rem;
      border-bottom: none;
    }

    @include desktop {
      padding: 2rem 2.5rem 1.5rem 2.5rem;
    }
  }

  &__title {
    @include mobile-h1-page-header;
  }

  &__search {
    position: relative;
    border-radius: 1.25rem;
    border: 1px solid $secondary-light;
    height: 2.25rem;
    margin: 1rem auto;
    width: 100%;

    @include tablet {
      width: 11.5625rem;
      height: 2.375rem;
      margin: 0 0.5rem;
    }

    @include desktop {
      width: 17.125rem;
      margin: 0 0.5rem;
    }

    &::placeholder {
      color: $secondary-dark;
      padding: 0.5rem 1rem;
      @include mobile-h3-labels-links-buttons;
    }
  }

  &__search-icon {
    position: absolute;
    right: 38px;
    top: 91px;

    @include tablet {
      right: 238px;
      top: 40px;
    }

    @include desktop {
      right: 245px;
    }
  }

  &__button {
    border-radius: 1.25rem;
    color: $primary-light;
    background-color: $primary-color;
    border: none;
    height: 2.25rem;
    margin-bottom: 1rem;
    cursor: pointer;
    width: 100%;

    @include tablet {
      width: 10.5rem;
      height: 2.375rem;
      padding: 0;
      margin: 0 0.5rem;
      @include h3-labels-links-buttons;
    }
  }
}
