@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.form-field {
  &__input-container {
    border: none;
    display: flex;
    flex-direction: column;
  }

  &__input-label {
    @include h3-labels-links-buttons;
    margin-bottom: 0.25rem;
    margin-top: 1rem;
    font-weight: 600;
  }

  &__input {
    height: 2.25rem;
    border-radius: 1.25rem;
    border: $border-default;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 7px;
    resize: none;
    &:focus {
      outline: $border-active;
    }

    &--small {
      @include desktop {
        width: 7.625rem;
      }
    }
  }
  &--textarea {
    height: 7.5rem;
    position: relative;
  }
}

.error-border {
  border: 1px solid $error-color;
}
